<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>P7 Project</title>

        <link rel= "stylesheet" type="text/css" href= "{{ url_for('static',filename='./styles/stylesheet.css') }}">

    </head>

<script>
    function UpdatePublications(){
        $.ajax({
            url: "/updatePublications",
            type: "POST",
            dataType: "json"
        })
    }
</script>

<body>
    <div id="mainContent">
        <h1>Publications on topic {{topic}}</h1>
        <div id="topicContent">
            {{publications}}
        </div>
    </div>
</body>