{%extends "navigator.html"%}

    {%block content %}
    {{esp|safe}}

    <script src="{{ url_for('static',filename='scripts/js/jquery-3.6.1.js') }}"></script>
    
    <script type='text/javascript'>
      
   
        $("button").click(function(e) {
          var idbtn= $(this).attr('id');
          var firstpart = String(idbtn).slice(0,9)
          var secondpart = String(idbtn).slice(10)
          var thirdpart = String(idbtn).split("/")
          if (firstpart == "deletebtn"){
            $.ajax({
              type:"POST",
              url:"/updatedb",
              data:{
                room_name:secondpart
              },
              success:function(response){
                console.log(thirdpart,thirdpart.length)
                console.log("#status_"+thirdpart[(thirdpart.length)-1])
                $("#status_"+thirdpart[(thirdpart.length)-1]).text("Succes!")}
                
            })
          }
        })
      

    </script>
    {%endblock%}